body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: linear-gradient(#FAF9F7, #F8F7F5);
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    alignment-baseline: center;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  width:25%;
  top: 18%;
  left: 56%;
  transform: rotate(44deg);
  font-size:1vw;
}